
/* 
  IMAGE CAROUSEL STYLING
*/

.carouselContainer {
  height: 90.5vh;
  display: flex;
}

.carouselImage {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 70%;

  -webkit-user-drag: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.active {
  opacity: 1;
  transition-duration: 500ms;
}

.inactive {
  opacity: 0;
  transition-duration: 500ms;
}



/* 
  NAVBAR STYLING
*/

nav {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 1.5vh;
}

.navbarItem {
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  line-height: 25px;
  height: 25px;
}

#focused {
  border-bottom: 1.5px solid rgb(222, 84, 84);
  
}

#unfocused {
  border-bottom: solid rgba(222, 84, 84, 0);
}